<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%=@team_data[:name]%></h1>
    <p1>Coach: <%=@team_data[:coach]%></p1>
    <p1>Point Guard: <%=@team_data[:pg]%></p1>
    <p1>Shooting Guard: <%=@team_data[:sg]%></p1>
    <p1>Small Forward: <%=@team_data[:sf]%></p1>
    <p1>Power Forward: <%=@team_data[:pf]%></p1>
    <p1>Center: <%=@team_data[:c]%></p1>

 </body>
</html>


